*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
header{
    background-color: black;
    text-align: center;
    padding: 6.5px;
    font-weight: 400;
}
.navbar-1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 30px 20px;
    align-items: center;
}
.navbar-1 form input {
    width: 800px;
    height: 40px;
    border-radius: 30px;
    padding: 25px 20px;
    border: none;
    background-color: #fafafa;
    font-weight: bold;
}


