*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    color: white;
}

header{
    background-color: black;
    padding: 9px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.navbar-1{
    padding: 27px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
}

.search-box {
    position: relative;
    width: 800px;
    height: 50px;
    background: #f5f5f5;        
    border-radius: 40px;        
    display: flex;
    align-items: center;
    padding-left: 45px;         
}

.search-box .icon {
    position: absolute;
    left: 26px;
    right: 30px;
    font-size: 18px;
    color: #777;
    pointer-events: none;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 12px;
    color: black;
    padding: 16px;
}
